@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    direction: rtl;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

// colors
$green-text: #30973E;
$white-color: #fff;
$black-color: #000;
$button-primary-bg-color-default: #39B54A;
$button-primary-bg-color-press: #267931;
$button-primary-bg-color-hover: #64CB72;
$button-primary-bg-color-focus: #26783180;
$button-primary-icon-color-disable: #F8F8F8;
$button-primary-text-color-disable: #C8C8C8;
$label-text-color-caption: #4E4E4E;
$link-text-color-default: #30C6F5;
$link-text-color-hover: #56B6D4;

// borders
$input-border-color-error:   1px solid #EE0909;
$input-border-color-default:  1px solid #A6A6A6;
$input-border-color-focus: 1px solid #39B54A;
$input-border-color-disable: 1px solid #E7E7E7;
$button-secondary-border-color-default: 1px solid #39B54A;

// fonts
$heebo: "Heebo", sans-serif;
$x-label-pagetitle: 18px;
$x-label-medium: 14px;
$x-label-caption: 12px;

// screen size
$laptop: 768px;
$mobile: 375px;

@mixin button-primary($bgc, $color-txt) {
    background-color: $bgc;
    color: $color-txt;
    font-size: $x-label-medium;
    font-family: $heebo;
    font-weight: bold;
    padding: 11px;
    border-radius: 10px; 
    border: none;
    min-width: 160px;
    width: 100%;
    max-width: 200px;
    cursor: pointer;    
         
    &:disabled {
        border: $input-border-color-disable;
        background-color: $button-primary-icon-color-disable;
        color: $button-primary-text-color-disable;
    }
}

@mixin button-secondary($color-txt) {
    @include button-primary($white-color, $color-txt);
    border: $button-secondary-border-color-default;    
}

@mixin input {
    width: auto;
    padding: 12px 10px;
    border-radius: 10px;
    border: $input-border-color-default;
    font-family: $heebo;
    font-size: $x-label-caption;
    
    &:focus-visible {
        outline: $input-border-color-focus;
        box-shadow: 0px 2px 6px 0px #3ab64a66
    }

    &.error {
        border: $input-border-color-error;
    }
    
    &:disabled {
        border: $input-border-color-disable;
        background-color: $white-color;
        color: #E7E7E7;
    }
}

.frame-header {
    padding: 10px;
    padding-bottom: 40px;
    
    .header {
        background-color: $white-color;
        width: auto;
        box-shadow: 0px 0px 10px 0px #6767671a;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        .frame {
            display: flex;
            align-items: center;
            justify-content: right;
            margin: 10px;
    
            .xtar-menu {
                --icon-color: #A1A3A5;
                margin-left: 10px;
                cursor: pointer;
            }
    
            .label {
                color: $black-color;
                font-size: $x-label-medium;
                font-family: $heebo;
            }
        }
    }
}

.body {
    box-sizing: border-box;
    display: flex;
    font-family: $heebo;
    font-size: $x-label-medium;
    
    .container {
        width: 50%;
        float: right;
        box-sizing: border-box;
        
        .details {
            padding-inline: 40px;
        
            .content {
                padding-inline: 15px;
                margin-bottom: 40px;
        
                .title {
                    font-size: $x-label-pagetitle;
                    color: $green-text;
                    font-weight: bold;
                    margin-bottom: 16px;
                }
        
                .label {
                    color: $black-color;
                }
        
                .field-bulk {
                    width: 345px;
        
                    .textbox {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 12px;
        
                        .caption {
                            color: $label-text-color-caption;
                            font-size: $x-label-caption;
                        }
        
                        input {
                            @include input();
        
                        }
                    }
                }
        
                .frame-6607061 {
                    width: 345px;
                    display: flex;
        
                    .textbox {
                        display: flex;
                        flex-direction: column;
                        width: 166px;
        
                        &:first-child {
                            margin-left: 12px;
                        }
        
                        .caption {
                            color: $label-text-color-caption;
                            font-size: $x-label-caption;
                        }
        
                        input {
                            @include input();
                        }
                    }
        
                }
        
                .cards {
                    display: flex;
                    gap: 20px;
                    
                    .card {
                        width: 100%;
                        padding: 20px;
                        box-shadow: 0px 0px 10px 0px #6767671a;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        background-color: $white-color;
                    
                        .label-list {
                            display: flex;
                            justify-content: space-between;
                            font-size: $x-label-medium;
        
                            .label {
                                color: $green-text;
                            }
        
                            .num {
                                color: $black-color;
                                font-weight: bold;
                            }
                        }
                    
                    }
                }
            }
        
        }
    
        .frame-link {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        
            a {
                font-family: $heebo;
                color: $link-text-color-default;

                &:hover {
                    color: $link-text-color-hover;
                }
            }
        }
        
        .footer {
            padding: 10px;
            display: flex;
            justify-content: center;
            box-shadow: 0px 0px 10px 0px #6767671a;
            border-radius: 4px 4px 0 0;
            background-color: $white-color;
            
            .btn-default {
                @include button-primary($button-primary-bg-color-default, $white-color);
         
                &:hover {
                    background-color: $button-primary-bg-color-hover;
                }
                
                &:active {
                    background-color: $button-primary-bg-color-press;
                    color: $white-color;
                }
                
                &:focus {
                    box-shadow: 0px 2px 10px 0px $button-primary-bg-color-focus;
                }
            }
        
            .btn-back {
                @include button-secondary($button-primary-bg-color-default);
                margin-left: 15px;

                &:hover {
                    background-color: $button-primary-bg-color-hover;
                    border: 1px solid $button-primary-bg-color-hover;
                    color: $white-color;
                }
                
                &:active {
                    background-color: $white-color;
                    color: $button-primary-bg-color-press;
                    border: 1px solid $button-primary-bg-color-press;
                }
                
                &:focus {
                    box-shadow: 0px 4px 10px 0px $button-primary-bg-color-focus;
                }
            
            }
        
        }
    }


    .pic {
        width: 50%;
        float: left;
        position: relative;

        img {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.styles-links {
    margin: 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-decoration: underline $link-text-color-default;
    float: left;
    cursor: pointer;
    
    a {
        font-family: $heebo;
        font-size: 20px;
        text-align: left;
        color: $link-text-color-default;

        &:hover {
            color: $link-text-color-hover;
            text-decoration-color:$link-text-color-hover;
        }
    }
}


@media (max-width: $laptop) {
  .body {
    .container {
        width: 100%;
    }

    .pic {
        display: none;
    }
  }
}

@media (max-width: $mobile) {
  .body > .container > .details {
        padding: 0;
    .content > .cards {
        flex-direction: column;

        .card {
            width: auto;
        }
    }
  }
}