@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500..900&display=swap");
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  direction: rtl;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

.frame-header {
  padding: 10px;
  padding-bottom: 40px;
}
.frame-header .header {
  background-color: #fff;
  width: auto;
  box-shadow: 0px 0px 10px 0px rgba(103, 103, 103, 0.1019607843);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.frame-header .header .frame {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 10px;
}
.frame-header .header .frame .xtar-menu {
  --icon-color: #A1A3A5;
  margin-left: 10px;
  cursor: pointer;
}
.frame-header .header .frame .label {
  color: #000;
  font-size: 14px;
  font-family: "Heebo", sans-serif;
}

.body {
  box-sizing: border-box;
  display: flex;
  font-family: "Heebo", sans-serif;
  font-size: 14px;
}
.body .container {
  width: 50%;
  float: right;
  box-sizing: border-box;
}
.body .container .details {
  padding-inline: 40px;
}
.body .container .details .content {
  padding-inline: 15px;
  margin-bottom: 40px;
}
.body .container .details .content .title {
  font-size: 18px;
  color: #30973E;
  font-weight: bold;
  margin-bottom: 16px;
}
.body .container .details .content .label {
  color: #000;
}
.body .container .details .content .field-bulk {
  width: 345px;
}
.body .container .details .content .field-bulk .textbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.body .container .details .content .field-bulk .textbox .caption {
  color: #4E4E4E;
  font-size: 12px;
}
.body .container .details .content .field-bulk .textbox input {
  width: auto;
  padding: 12px 10px;
  border-radius: 10px;
  border: 1px solid #A6A6A6;
  font-family: "Heebo", sans-serif;
  font-size: 12px;
}
.body .container .details .content .field-bulk .textbox input:focus-visible {
  outline: 1px solid #39B54A;
  box-shadow: 0px 2px 6px 0px rgba(58, 182, 74, 0.4);
}
.body .container .details .content .field-bulk .textbox input.error {
  border: 1px solid #EE0909;
}
.body .container .details .content .field-bulk .textbox input:disabled {
  border: 1px solid #E7E7E7;
  background-color: #fff;
  color: #E7E7E7;
}
.body .container .details .content .frame-6607061 {
  width: 345px;
  display: flex;
}
.body .container .details .content .frame-6607061 .textbox {
  display: flex;
  flex-direction: column;
  width: 166px;
}
.body .container .details .content .frame-6607061 .textbox:first-child {
  margin-left: 12px;
}
.body .container .details .content .frame-6607061 .textbox .caption {
  color: #4E4E4E;
  font-size: 12px;
}
.body .container .details .content .frame-6607061 .textbox input {
  width: auto;
  padding: 12px 10px;
  border-radius: 10px;
  border: 1px solid #A6A6A6;
  font-family: "Heebo", sans-serif;
  font-size: 12px;
}
.body .container .details .content .frame-6607061 .textbox input:focus-visible {
  outline: 1px solid #39B54A;
  box-shadow: 0px 2px 6px 0px rgba(58, 182, 74, 0.4);
}
.body .container .details .content .frame-6607061 .textbox input.error {
  border: 1px solid #EE0909;
}
.body .container .details .content .frame-6607061 .textbox input:disabled {
  border: 1px solid #E7E7E7;
  background-color: #fff;
  color: #E7E7E7;
}
.body .container .details .content .cards {
  display: flex;
  gap: 20px;
}
.body .container .details .content .cards .card {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(103, 103, 103, 0.1019607843);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
}
.body .container .details .content .cards .card .label-list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.body .container .details .content .cards .card .label-list .label {
  color: #30973E;
}
.body .container .details .content .cards .card .label-list .num {
  color: #000;
  font-weight: bold;
}
.body .container .frame-link {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.body .container .frame-link a {
  font-family: "Heebo", sans-serif;
  color: #30C6F5;
}
.body .container .frame-link a:hover {
  color: #56B6D4;
}
.body .container .footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px rgba(103, 103, 103, 0.1019607843);
  border-radius: 4px 4px 0 0;
  background-color: #fff;
}
.body .container .footer .btn-default {
  background-color: #39B54A;
  color: #fff;
  font-size: 14px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  padding: 11px;
  border-radius: 10px;
  border: none;
  min-width: 160px;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}
.body .container .footer .btn-default:disabled {
  border: 1px solid #E7E7E7;
  background-color: #F8F8F8;
  color: #C8C8C8;
}
.body .container .footer .btn-default:hover {
  background-color: #64CB72;
}
.body .container .footer .btn-default:active {
  background-color: #267931;
  color: #fff;
}
.body .container .footer .btn-default:focus {
  box-shadow: 0px 2px 10px 0px rgba(38, 120, 49, 0.5019607843);
}
.body .container .footer .btn-back {
  background-color: #fff;
  color: #39B54A;
  font-size: 14px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  padding: 11px;
  border-radius: 10px;
  border: none;
  min-width: 160px;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  border: 1px solid #39B54A;
  margin-left: 15px;
}
.body .container .footer .btn-back:disabled {
  border: 1px solid #E7E7E7;
  background-color: #F8F8F8;
  color: #C8C8C8;
}
.body .container .footer .btn-back:hover {
  background-color: #64CB72;
  border: 1px solid #64CB72;
  color: #fff;
}
.body .container .footer .btn-back:active {
  background-color: #fff;
  color: #267931;
  border: 1px solid #267931;
}
.body .container .footer .btn-back:focus {
  box-shadow: 0px 4px 10px 0px rgba(38, 120, 49, 0.5019607843);
}
.body .pic {
  width: 50%;
  float: left;
  position: relative;
}
.body .pic img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.styles-links {
  margin: 50px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-decoration: underline #30C6F5;
  float: left;
  cursor: pointer;
}
.styles-links a {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  text-align: left;
  color: #30C6F5;
}
.styles-links a:hover {
  color: #56B6D4;
  text-decoration-color: #56B6D4;
}

@media (max-width: 768px) {
  .body .container {
    width: 100%;
  }
  .body .pic {
    display: none;
  }
}
@media (max-width: 375px) {
  .body > .container > .details {
    padding: 0;
  }
  .body > .container > .details .content > .cards {
    flex-direction: column;
  }
  .body > .container > .details .content > .cards .card {
    width: auto;
  }
}

/*# sourceMappingURL=green_style.css.map */
